@using NonFactors.Mvc.Grid
@model IEnumerable<GestionConcoursCore.Models.SearchModel3>
@{
    ViewData["Title"] = "Corbeil4";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <h4 class="font-weight-bold text-center pt-3 pb-5">Corbeille du 4ème année</h4>

    @Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Cne).Titled("Restore").Css("text-center").RenderedAs(model => Html.Raw($"<button class='btn btn-info restoreBtn' id='{model.Cne}'>Restore</button>"));
        columns.Add(model => model.Cne).Titled("Cne").Css("text-center");
        columns.Add(model => model.Cin).Titled("Cin").Css("text-center");
        columns.Add(model => model.Nom).Titled("Nom").Css("text-center");
        columns.Add(model => model.Prenom).Titled("Prenom").Css("text-center");
    }).Css("table table-bordered table-striped mt-5").Named("grid").Empty("Aucun enregistrement trouvé")
</div>
<!-- /.container-fluid -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    // Restore button
    $(document).on("click", ".restoreBtn", function () {
        var id = $(this).attr("id");
        if (confirm("Are you sure you want to restore this record?")) {
            $.get("/Admin/restoreStudent", { cne: id, Niveau: 4 }, function (data) {
                location.reload();
            });
        }
    });
});
</script>

