@using NonFactors.Mvc.Grid
@model GestionConcoursCore.Models.UserViewModel

@{
    ViewBag.Title = "Correction GPMC 4A";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="align-content-center">
        <h3 class="font-weight-bold text-center pt-3 pb-5">Listes des candidats présents au concours d'accès en 4 ème année</h3>
    </div>

    <!-- Replace the existing form and table with MVC Grid -->
    @Html.Grid(Model.Nom.Select((name, index) => new
    {
        N = index + 1,
        Dossier = Model.Num_dossier[index],
        Cne = Model.Cne[index],
        Cin = Model.Cin[index],
        Nom = Model.Nom[index],
        Prenom = Model.Prenom[index],
        Filiere = Model.Filiere[index],
        Diplome = Model.Diplome[index],
        Provenance = Model.Etablissement[index],
        Specialite = Model.Specialite[index],
        Classement = Model.Classement[index]
    })).Build(columns =>
    {
        columns.Add(model => model.N).Titled("N").Css("text-center");
        columns.Add(model => model.Dossier).Titled("Dossier").Css("text-center");
        columns.Add(model => model.Cne).Titled("Cne").Css("text-center");
        columns.Add(model => model.Cin).Titled("Cin").Css("text-center");
        columns.Add(model => model.Nom).Titled("Nom").Css("text-center");
        columns.Add(model => model.Prenom).Titled("Prenom").Css("text-center");
        columns.Add(model => model.Filiere).Titled("Filiere").Css("text-center");
        columns.Add(model => model.Diplome).Titled("Diplôme").Css("text-center");
        columns.Add(model => model.Provenance).Titled("Provenance").Css("text-center");
        columns.Add(model => model.Specialite).Titled("Spécialité").Css("text-center");
        columns.Add(model => model.Classement).Titled("Classement").Css("text-center")
            .RenderedAs(model => Html.TextBoxFor(m => model.Classement, new { @class = "form-control", @Value = model.Classement }))
            .Filterable(false).Sortable(false);
    }).Css("table table-bordered table-hover").Empty("Aucun enregistrement trouvé").Filterable().Sortable()

    <div class="col-md-3 offset-4 mt-3">
        <input type="submit" id="submit" value="Valider le classement" class="btn btn-primary btn-block" />
    </div>

</div>
<!-- /.container-fluid -->

@*

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
	<script type="text/javascript">



		$("body").on("click", "#btnSave", function () {
			//Loop through the Table rows and build a JSON array.
			var customers = new Array();
			$("#tblCustomers TBODY TR").each(function () {
				var row = $(this);
				var customer = {};
				customer.math = row.find("TD").eq(0).html();
				customer.specialite = row.find("TD").eq(1).html();
				customers.push(customer);
			});

			//Send the JSON array to Controller using AJAX.
			$.ajax({
				type: "POST",
				url: "/Admin/InsertNote",
				data: JSON.stringify(customers),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (r) {
					alert(r + " record(s) inserted.");
				}
			})
	</script>
*@
<!-- End of Content Wrapper -->
