@using NonFactors.Mvc.Grid;
@model IEnumerable<GestionConcoursCore.Models.SearchModel3>
@{
    ViewData["Title"] = "Recherche3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <h4 class="font-weight-bold text-center pt-3">Recherche du 3ème année</h4>

    @Html.Grid(Model).Build(columns =>
    {
        columns.Add(model => model.Cne).Titled("Delete").Css("text-center").RenderedAs(model => Html.Raw($"<button class='btn btn-danger deleteBtn' id='{model.Cne}'>Delete</button>"));
        columns.Add(model => model.Cne).Titled("Conforme").Css("text-center").RenderedAs(model => Html.Raw($"<button class='btn btn-info conformBtn' id='{model.Cne}'>Conforme</button>"));
        columns.Add(model => model.Nom).Titled("Nom").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Prenom).Titled("Prenom").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Photo).Titled("Photo").Css("text-center").RenderedAs(model => Html.Raw($"<img src='https://localhost:44361/candidatImages/{model.Photo}' style='border-radius: 50%; width:50px; height:50px' />"));
        columns.Add(model => model.Sexe).Titled("Sexe").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.NoteBac).Titled("Note Bac").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Type_dip).Titled("Type Diplôme").Css("text-center").Filterable(true);
        columns.Add(model => model.speciali_dip).Titled("Specialité Diplôme").Css("text-center");
        columns.Add(model => model.Diplome1).Titled("Diplome 1").Css("text-center").RenderedAs(model => Html.Raw($"<a href='https://localhost:44361/DiplomeScanne/{model.Cne}.png'>mon diplome</a>"));
        columns.Add(model => model.Note1).Titled("Note 1").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Note2).Titled("Note 2").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Note3).Titled("Note 3").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Note4).Titled("Note 4").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Dossier).Titled("Dossier").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Convoque).Titled("Convoqué").Css("text-center").Filterable(true);
        columns.Add(model => model.Math).Titled("Math").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Specialite).Titled("Specialité").Css("text-center").Filterable(true).Sortable(true);
        columns.Add(model => model.Filiere).Titled("Filière").Css("text-center").Filterable(true);
        columns.Add(model => model.Admis).Titled("Admis").Css("text-center").Filterable(true);
        columns.Add(model => model.NonConforme).Titled("Non Conforme").Css("text-center").Filterable(true);
    }).Css("table table-bordered table-striped mt-5").Named("grid").Empty("Aucun enregistrement trouvé")

    <div class="mt-5 d-flex justify-content-center">
        <button id="export" onclick="exportTableToExcel('grid')" class="btn btn-info btn-block py-2 col-md-3" type="button">
            Exporter vers Excel
        </button>
    </div>

</div>
<!-- /.container-fluid -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    //######################## Export to EXCELL #########
    function exportTableToExcel(tableID) {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.querySelector(`[data-name='${tableID}']`);

        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        // Specify file name
        var filename = "ListeCandidats_Recherche_3A.xls";
        // Create download link element
        downloadLink = document.createElement("a");
        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            // Setting the file name
            downloadLink.download = filename;
            //triggering the function
            downloadLink.click();
        }
    }
    //#########################################################
    $(document).ready(function () {
        //search button
        $("#search").click(function () {
            $.get("/Admin/SearchCriteria", { Criteria: $("#criteria").val(), Key: $("#key").val(), Diplome: $("#diplome").val(), Filiere: $("#filiere").val(), Niveau: 3 }, function (data) {
                $("#tbody").empty();
                $.each(data, function (index, row) {
                    var w = row.cne + ".png";
                    var u = row.photo;
                    var chemin = "../../DiplomeScanne/+w";
                    $("#tbody").append("<tr><td><button class='btn btn-danger deleteBtn' id=" + row.cne + ">Delete</button></td><td><button class='btn btn-info conformBtn' id=" + row.cne + ">Conforme</button></td><td>" + row.nom + "</td><td>" + row.prenom + "</td><td><img  style=\"border-radius: 50%; width:50px; height:50px\"  src=\"/candidatImages/" + row.photo + "\"></img></td><td>" + row.sexe + "</td><td>" + row.noteBac + "</td><td>" + row.type_dip + "</td><td>" + row.speciali_dip + "</td><td><a href=\"/DiplomeScanne/" + w + "\">" + row.cne + "</a></td><td>" + row.note1 + "</td><td>" + row.note2 + "</td><td>" + row.note3 + "</td><td>" + row.note4 + "</td><td>" + row.dossier + "</td><td>" + row.convoque + "</td><td>" + row.math + "</td><td>" + row.specialite + "</td><td>" + row.filiere + "</td><td>" + row.admis + "</td><td>" + row.nonConforme + "</td></tr>");
                });
            });
        });
        //delete button
        $(document).on("click", ".deleteBtn", function () {
            var id = $(this).attr("id");
            if (confirm("Are you sure you want to delete this record?")) {
                $.get("/Admin/deleteStudent", { cne: id, Niveau: 3 }, function (data) {
                    location.reload();
                });
            }
        });
        //conform button
        $(document).on("click", ".conformBtn", function () {
            var id = $(this).attr("id");
            $.get("/Admin/conformeStudent", { cne: id, Niveau: 3 }, function (data) {
                $("#tbody").empty();
                $.each(data, function (index, row) {
                    var w = row.cne + ".png";
                    var u = row.photo;
                    var chemin = "../../DiplomeScanne/+w";
                    $("#tbody").append("<tr><td><button class='btn btn-danger deleteBtn' id=" + row.cne + ">Delete</button></td><td><button class='btn btn-info conformBtn' id=" + row.cne + ">Conforme</button></td><td>" + row.nom + "</td><td>" + row.prenom + "</td><td><img  style=\"border-radius: 50%; width:50px; height:50px\"  src=\"/candidatImages/" + row.photo + "\"></img></td><td>" + row.sexe + "</td><td>" + row.noteBac + "</td><td>" + row.type_dip + "</td><td>" + row.speciali_dip + "</td><td><a href=\"/DiplomeScanne/" + w + "\">" + row.cne + "</a></td><td>" + row.note1 + "</td><td>" + row.note2 + "</td><td>" + row.note3 + "</td><td>" + row.note4 + "</td><td>" + row.dossier + "</td><td>" + row.convoque + "</td><td>" + row.math + "</td><td>" + row.specialite + "</td><td>" + row.filiere + "</td><td>" + row.admis + "</td><td>" + row.nonConforme + "</td></tr>");
                });
            });
        });
    });
</script>

